
:root {
    /* --primary-color: #669ccb;
    --primary-color-dark: #5681a7;
    --secondary-color: #e8f1fa;
    --text-dark: #282d31;
    --text-light: #767268;
    --extra-light: #f3f4f6; */
    --max-width: 1200px;
  }
  .section__container {
    padding: 5rem 1rem;
    max-width: var(--max-width);
    margin: auto;
  }
  .section__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .section__subtitle {
    font-size: 1rem;
    font-style: italic;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
  }
  
/* Your existing CSS */

/* Add hover effect on images */
.display__card img {
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
 .display__card img:hover {
    transform: scale(1.05) rotate(3deg); /* Zoom in by 5% and rotate slightly on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }

  .display__container {
    background-color: var(--secondary-color);
  }
  
  .display__container :is(.section__title, .section__subtitle) {
    color: var(--text-dark);
  }
  
  .display__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .display__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--extra-light);
    text-align: center;
  }
  
  .display__card i {
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  .display__card h4 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__card p {
    font-size: 0.8rem;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__grid .grid-1 {
    grid-area: 1/1/3/3;
  }
  @media (min-width: 640px) {
    .display__grid {
        grid-template-columns: repeat(4, 1fr);
      }
    
      .display__card {
        gap: 0;
      }
    
      .display__card i {
        font-size: 1.75rem;
      }
    
      .display__card h4 {
        font-size: 1rem;
      }
    
      .display__card p {
        font-size: 0.7rem;
      }
  }

  @media (min-width: 786px) {
    .display__card {
        gap: 0.5rem;
      }
    
      .display__card i {
        font-size: 2.5rem;
      }
    
      .display__card p {
        font-size: 0.8rem;
      }
  }

  @media (min-width: 1024px) {
    .display__card {
      gap: 1rem;
    }
  
    .display__card i {
      font-size: 3rem;
    }
  
    .display__card h4 {
      font-size: 1.5rem;
    }
  
    .display__card p {
      font-size: 1rem;
    }
  }
  