.gallery-cointainer{
    padding: 40px 20px;
}
.gallery-cointainer .title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
    position: relative;
}
.gallery-cointainer .title::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50.5%;
    transform: translateX(-50%);
    width: 100px;
    height: 2.1px;
    background-color: #000; 
  }
  .gallery-cointainer .subtitle {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 2rem;
    text-align: center;
  }
.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
}

.gallery:hover .gallery__image {
	filter: grayscale(1);
}

.gallery__column {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.gallery__link {
	margin: 2px;
	overflow: hidden;
}

.gallery__link:hover .gallery__image {
	filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
	opacity: 1;
}

.gallery__thumb {
	position: relative;
}

.gallery__image {
	display: block;
	width: 100%;
	transition: .3s;
}

.gallery__image:hover {
	transform: scale(1.1);
}

.gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 15px 15px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: white;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
	transition: .3s;
}
@media (max-width: 640px) {
	.gallery__caption{
		font-size: 10px;
		padding: 1px;
	}
  }
