
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
 
}

  :root {
    --primary-color: #669ccb;
    --primary-color-dark: #5681a7;
    --secondary-color: #e8f1fa;
    --text-dark: #282d31;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --max-width: 1200px;
  }

  
body{
  background: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

/* <div className="founder">
    
<div className="card card0">
  <div className="border">
    <h2>Al Pacino</h2>
    <div className="icons">
    <i className="fa-brands fa-instagram favicon" aria-hidden="true"></i>
    <i className="fa-brands fa-youtube favicon" aria-hidden="true"></i>
    <i className="fa-brands fa-facebook favicon" aria-hidden="true"></i>
    <i className="fa-brands fa-twitter favicon" aria-hidden="true"></i>
    <i className="fa-brands fa-linkdein favicon" aria-hidden="true"></i>

    </div>
  </div>
</div>


   </div> */
